
<!-- m3.material.io/components/cards/guidelines -->
<!-- https://fonts.google.com/icons-->
  
<mat-card *ngFor="let b of list">
    <mat-card-header>
        <mat-card-title>{{b.name}}</mat-card-title>
        <mat-card-subtitle>{{b.source}}</mat-card-subtitle>
        <mat-card-content>{{b.date}}</mat-card-content>
    </mat-card-header>
    <mat-card-content>
        <mat-select name="categories">
            <mat-option *ngFor="let c of categories" [value]="c">
              {{ c }}
            </mat-option>
          </mat-select> 
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="details(b)"><mat-icon>details</mat-icon>Details</button>
        <button mat-button><mat-icon>share</mat-icon>Save</button>
    </mat-card-actions>
</mat-card>

<a id="categoryAdd" mat-fab routerLink="/category"><mat-icon>add</mat-icon></a>
